ServerTest/.idea/

ServerTest/gradle/

ServerTest/build.gradle

ServerTest/gradle.properties

ServerTest/gradlew

ServerTest/gradlew.bat

ServerTest/settings.gradle

Server/__pycache__/

*.crt

Server/canvas-hybrid-350510-firebase-adminsdk-9biyk-d4d6446df9.json

*.pem

*.key
